
<div class="search-toolbar" data-mediator="search-toolbar">
    <input class="js-input search-input" placeholder="cerca...">
    <i class="material-icons">search</i>
    <div class="js-autocomplete autocomplete-CTR"></div>
</div>