<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/perfect-scrollbar.min.css"/>
    <!-- Startup configuration -->
    <link rel="manifest" href="/static/manifest.json">
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCP7Leoxb6Lqp--LAex1hKfthYQ0yMKrwo">
    </script>
    {{{stylesheet}}}
</head>
<body>
<meta data-mediator="service-worker">

<script id="add-comment-template" type="text/html">
        {{> include/user/comments/add-comment}}
</script>
{{> include/search-toolbar/search-template}}
{{> include/user/comments/add-photo-template}}
<div class="header-CTR" data-mediator="menu-visibility">
    {{> include/menu/topbar}}
</div>
<div class="body-CTR">
    <div class="fade-left-sidebar hidden fade-in"></div>
    <div class="left-sidebar-CTR slide-in"  data-mediator="perfect-scrollbar">

        {{> include/menu/left-sidebar}}
    </div>
    <div class="body-CNT">
        {{{body}}}
    </div>

</div>
<div class="footer-CTR">
    <footer>footer</footer>
</div>
{{> include/common/popup}}
{{> include/trash-script}}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-87772972-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>