<div class="add-comment-popup">
    <div class="comment-CNT">
        <div class="js-text comment-text">
            <textarea class="comment-textarea"></textarea>
        </div>
        <div class="js-image comment-photo hidden">
            <img src="" class="image">
        </div>
    </div>
    <div class="comment-info ">
        <div class="action-button" data-mediator="add-place-button">
            <i class="material-icons">place</i>
        </div>
    </div>
    <div class="comment-buttons">
        <ul>
            <li class="comment-button">
                <p>ANNULLA</p>
            </li>
            <li class="comment-button">
                <p>PUBBLICA</p>
            </li>
        </ul>
    </div>
</div>