.left-sidebar-CTR{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  background: white;
  z-index: 2;
}
.fade-left-sidebar{
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  background: rgba(0, 0, 0, 0.33);
  z-index: 2;
  top: 0;
  left: 0;
  //pointer-events: none;
}
.left-sidebar {
  width: 220px;
  padding: 60px 20px;
  box-sizing: border-box;

  .common-menu {
    margin-bottom: 40px;
    .title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    .menu {
      .menu-item {
        padding: 8px 0;
        p {
          line-height: 2;
          i {
            margin-right: 15px;
          }
        }
      }
    }
  }
}
@media screen and(max-width:767px){
  .left-sidebar-CTR{
    display:none;
    overflow-y: auto;
    &.opened{
      display:block;
    }
  }
}