/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.3;
  color: #333333;
  background: #f7f7f7;
}
a {
  text-decoration: none;
  color: #333333;
}
.hidden {
  display: none!important;
}
.header-CTR {
  padding: 10px 16px;
  border-bottom: 1px solid #b7b7b7;
  position: fixed;
  width: 100%;
  background: white;
  top: 0;
  left: 0;
  z-index: 3;
  box-sizing: border-box;
}
.body-CTR {
  display: flex;
  padding-top: 40px;
  position: relative;
}
.body-CNT {
  flex-grow: 1;
  margin-left: 220px;
}
.inline-block {
  display: inline-block;
  width: 31.7%;
  margin-right: 2.3%;
  vertical-align: top;
  margin-bottom: 30px;
}
.inline-block:nth-of-type(3n) {
  margin-right: 0;
}
.inline-block.vertical {
  width: 23.2%;
}
.inline-block.vertical:nth-of-type(3n) {
  margin-right: 2.3%;
}
.inline-block.vertical:nth-of-type(4n) {
  margin-right: 0;
}
.main {
  box-sizing: border-box;
}
.main-content {
  padding: 0 40px;
}
.material-icons {
  vertical-align: middle;
  font-size: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .inline-block {
    width: 48%;
  }
  .inline-block:nth-of-type(3n) {
    margin-right: 2.3%;
  }
  .inline-block:nth-of-type(2n) {
    margin-right: 0;
  }
}
.left-sidebar-CTR {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  background: white;
}
.left-sidebar {
  width: 220px;
  padding: 60px 20px;
  box-sizing: border-box;
}
.left-sidebar .common-menu {
  margin-bottom: 40px;
}
.left-sidebar .common-menu .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.left-sidebar .common-menu .menu .menu-item {
  padding: 8px 0;
}
.left-sidebar .common-menu .menu .menu-item p {
  line-height: 2;
}
.left-sidebar .common-menu .menu .menu-item p i {
  margin-right: 15px;
}
.add-comment {
  margin-right: 20px;
}
.comment-CNT {
  width: 400px;
}
.add-comment-popup {
  background: white;
  padding: 0;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  position: relative;
}
.add-comment-popup .comment-text {
  padding: 20px 0;
  max-height: 200px;
  overflow-y: auto;
}
.add-comment-popup .comment-textarea {
  font-family: "Roboto Condensed";
  font-size: 16px;
  color: gray;
  border: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  resize: none;
  padding: 0 20px;
  overflow: hidden;
}
.add-comment-popup .comment-info {
  padding: 0 20px;
}
.add-comment-popup .comment-photo {
  width: 400px;
  height: auto;
  margin: 20px 0;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.add-comment-popup .comment-photo img {
  max-width: 100%;
  max-height: 350px;
}
.add-comment-popup .comment-buttons {
  font-size: 0;
  text-align: right;
  padding: 0 20px 20px;
}
.add-comment-popup .comment-buttons .comment-button {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  background: silver;
  color: white;
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
}
.add-comment-popup .comment-buttons .comment-button:last-child {
  margin-right: 0;
}
.add-comment-popup .comment-buttons .comment-button.annulla {
  background: #ff2424;
}
.add-comment-popup .add-place {
  margin-bottom: 10px;
}
.add-comment-popup .add-place .place-label {
  overflow: hidden;
  max-width: 356px;
  display: inline-block;
  vertical-align: middle;
}
.add-comment-popup .place-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.add-comment-popup .place-autocomplete input {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  display: block;
  border: none;
  background: #f1f1f1;
  font-size: 16px;
  outline: none;
}
.add-comment-popup .place-autocomplete .comment-buttons {
  padding: 0 20px 20px;
}
.add-comment-popup .place-autocomplete .autocomplete-CTR {
  position: absolute;
  top: 55px;
  left: 0;
  border: none;
  min-width: 100%;
}
.add-comment-popup .place-autocomplete .autocomplete-CTR .place-results-thumbnail p {
  transition: color 0.2s ease-out;
  display: inline-block;
  margin-left: 10px;
}
.add-photo input {
  width: 40px;
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  opacity: 0;
  cursor: pointer;
}
.user-actions .action {
  display: inline-block;
  position: relative;
}
.user-actions .comment-label {
  color: #bdbdbd;
  margin-right: 20px;
}
.action-button {
  padding: 10px;
  background: lavender;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.topbar .table-CTR {
  display: table;
  width: 100%;
}
.topbar .table-cell {
  display: table-cell;
}
.topbar .table-cell.homepage {
  width: 212px;
}
.topbar .table-cell.search {
  margin-left: 22px;
}
.topbar .table-cell.user-actions {
  text-align: right;
}
.popup-CTR {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}
.popup-CTR .fade {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.popup-CTR .popup-container {
  position: relative;
  z-index: 1;
}
.search-toolbar {
  position: relative;
}
.search-toolbar .search-input {
  padding: 8px;
  width: 400px;
  box-sizing: border-box;
}
.autocomplete-CTR {
  position: absolute;
  top: 34px;
  left: 0;
  border: 1px solid silver;
  min-width: 400px;
  box-sizing: border-box;
}
.autocomplete-CTR .autocomplete-results {
  background: white;
  padding: 10px 0;
}
.autocomplete-CTR .autocomplete-results .label {
  font-size: 12px;
  font-weight: bold;
  padding: 0 14px;
  text-transform: uppercase;
  color: gray;
  margin: 20px 0 0;
}
.autocomplete-CTR .places-results {
  margin: 5px 0px 15px;
}
.autocomplete-CTR .place-results-thumbnail {
  padding: 7px 14px;
  transition: background 0.2s ease-out;
}
.autocomplete-CTR .place-results-thumbnail p {
  transition: color 0.2s ease-out;
}
.autocomplete-CTR .place-results-thumbnail:hover {
  background: silver;
}
.autocomplete-CTR .place-results-thumbnail:hover p {
  color: white;
}
.autocomplete-CTR .separator {
  display: block;
  border-bottom: 1px solid silver;
}
svg {
  display: none;
}
.section {
  font-size: 0;
  padding-top: 30px;
  border-top: 1px solid #b7b7b7;
  margin-bottom: 30px;
}
.section:first-child {
  padding-top: 0;
  border: none;
}
.section .title {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0;
}
.movie-thumbnail {
  font-size: 0;
}
.movie-thumbnail .image {
  display: inline-block;
  vertical-align: top;
}
.movie-thumbnail .image img {
  height: 278px;
}
.movie-thumbnail .info-CTR {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  max-width: 440px;
  margin-left: 2.3%;
  height: 278px;
}
.movie-thumbnail .info-CTR .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.movie-thumbnail .info-CTR .title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.movie-thumbnail .info-CTR .original-title {
  margin-bottom: 0;
}
.movie-thumbnail .info-CTR .description {
  margin-top: 10px;
}
.movie-thumbnail .info-CTR .cinemas-CTR .label {
  font-size: 14px;
  font-weight: bold;
}
.movie-thumbnail .info-CTR .cinemas-CTR .cinema {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
.movie-thumbnail .info-CTR .cinemas-CTR .cinema p {
  font-size: 14px;
}
.movie-thumbnail .info-CTR .cinemas-CTR .cinema li {
  font-size: 14px;
  display: inline-block;
}
.movie-thumbnail .info-CTR .cinemas-CTR .cinema li:after {
  content: "|";
  padding: 0 3px;
  display: inline-block;
}
.movie-thumbnail .info-CTR .cinemas-CTR .cinema li:last-child:after {
  display: none;
}
.vertical .movie-thumbnail .image {
  display: block;
  width: 100%;
}
.vertical .movie-thumbnail .image img {
  width: 100%;
  height: auto;
}
.vertical .movie-thumbnail .info-CTR {
  display: block;
  margin: 20px 0;
}
.thumbnail-movie-CTR {
  margin-bottom: 50px;
}
