/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.3;
  color: #333333;
  background: #f7f7f7;
}
body.overflow-hidden {
  overflow: hidden;
}
a {
  text-decoration: none;
  color: #333333;
}
.hidden {
  display: none !important;
}
.header-CTR {
  padding: 10px 16px;
  border-bottom: 1px solid #b7b7b7;
  position: fixed;
  width: 100%;
  background: white;
  top: 0;
  left: 0;
  z-index: 3;
  box-sizing: border-box;
}
.body-CTR {
  display: flex;
  padding-top: 40px;
  position: relative;
}
.body-CNT {
  flex-grow: 1;
  margin-left: 220px;
}
.inline-block {
  display: inline-block;
  width: 31.7%;
  margin-right: 2.3%;
  vertical-align: top;
  margin-bottom: 30px;
}
.inline-block:nth-of-type(3n) {
  margin-right: 0;
}
.inline-block.vertical {
  width: 23.2%;
}
.inline-block.vertical:nth-of-type(3n) {
  margin-right: 2.3%;
}
.inline-block.vertical:nth-of-type(4n) {
  margin-right: 0;
}
.main {
  box-sizing: border-box;
}
.main-content {
  padding: 0 40px;
}
.material-icons {
  vertical-align: middle;
  font-size: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .inline-block {
    width: 48%;
  }
  .inline-block:nth-of-type(3n) {
    margin-right: 2.3%;
  }
  .inline-block:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .header-CTR {
    padding: 5px 12px;
    transform: translateY(0);
    transition: transform 0.5s ease-out;
    will-change: transform;
  }
  .header-CTR.closed {
    transform: translateY(-90px);
    transition: transform 0.5s ease-in;
  }
  .body-CTR {
    padding-top: 50px;
  }
  .body-CNT {
    margin: 0 !important;
    width: 100%;
  }
  .main-content {
    padding: 0 12px;
  }
  .inline-block {
    width: 100%;
    margin-right: 0;
    display: block;
  }
}
.left-sidebar-CTR {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  background: white;
  z-index: 2;
}
.fade-left-sidebar {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  background: rgba(0, 0, 0, 0.33);
  z-index: 200;
  top: 0;
  left: 0;
}
.left-sidebar {
  width: 220px;
  padding: 60px 20px;
  box-sizing: border-box;
}
.left-sidebar .common-menu {
  margin-bottom: 40px;
}
.left-sidebar .common-menu .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.left-sidebar .common-menu .menu .menu-item {
  padding: 8px 0;
}
.left-sidebar .common-menu .menu .menu-item p {
  line-height: 2;
}
.left-sidebar .common-menu .menu .menu-item p i {
  margin-right: 15px;
}
.left-sidebar .common-menu .menu .menu-item.homepage {
  display: none;
}
@media screen and (max-width: 767px) {
  .left-sidebar-CTR {
    display: none;
    z-index: 300;
    overflow-y: auto;
  }
  .left-sidebar-CTR.opened {
    display: block;
  }
  .left-sidebar {
    padding: 20px 20px;
  }
  .left-sidebar .common-menu .menu .menu-item.homepage {
    display: block;
  }
}
.add-comment {
  margin-right: 20px;
}
.comment-CNT {
  width: 400px;
}
.add-comment-popup {
  background: white;
  padding: 0;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  position: relative;
}
.add-comment-popup .comment-text {
  padding: 20px 0;
  max-height: 200px;
  overflow-y: auto;
}
.add-comment-popup .comment-textarea {
  font-family: "Roboto Condensed";
  font-size: 16px;
  color: gray;
  border: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  resize: none;
  padding: 0 20px;
  overflow: hidden;
}
.add-comment-popup .comment-info {
  padding: 0 20px;
}
.add-comment-popup .comment-photo {
  width: 400px;
  height: auto;
  margin: 20px 0;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.add-comment-popup .comment-photo img {
  max-width: 100%;
  max-height: 350px;
}
.add-comment-popup .comment-buttons {
  font-size: 0;
  text-align: right;
  padding: 0 20px 20px;
}
.add-comment-popup .comment-buttons .comment-button {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  background: silver;
  color: white;
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
}
.add-comment-popup .comment-buttons .comment-button:last-child {
  margin-right: 0;
}
.add-comment-popup .comment-buttons .comment-button.annulla {
  background: #ff2424;
}
.add-comment-popup .add-place {
  margin-bottom: 10px;
}
.add-comment-popup .add-place.opened {
  height: 200px;
}
.add-comment-popup .add-place .place-label {
  overflow: hidden;
  max-width: 356px;
  display: inline-block;
  vertical-align: middle;
}
.add-comment-popup .place-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.add-comment-popup .place-autocomplete input {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  display: block;
  border: none;
  background: #f1f1f1;
  font-size: 16px;
  outline: none;
}
.add-comment-popup .place-autocomplete .comment-buttons {
  padding: 0 20px 20px;
}
.add-comment-popup .place-autocomplete .autocomplete-CTR {
  position: absolute;
  top: 55px;
  left: 0;
  border: none;
  min-width: 100%;
}
.add-comment-popup .place-autocomplete .autocomplete-CTR .place-results-thumbnail a {
  display: table;
  width: 100%;
}
.add-comment-popup .place-autocomplete .autocomplete-CTR .place-results-thumbnail .material-icons {
  display: table-cell;
  width: 20px;
  padding-right: 10px;
}
.add-comment-popup .place-autocomplete .autocomplete-CTR .place-results-thumbnail p {
  display: table-cell;
  transition: color 0.2s ease-out;
  margin-left: 10px;
}
@media screen and (max-width: 767px) {
  .add-comment {
    margin: 0;
  }
  .comment-CNT {
    width: 100%;
  }
  .add-comment-popup {
    max-height: 90vh;
    overflow-y: auto;
  }
  .add-comment-popup .comment-text {
    max-height: inherit;
  }
  .add-comment-popup .comment-textarea {
    padding: 0 12px;
    overflow: auto;
  }
  .add-comment-popup .comment-photo {
    width: 100%;
    padding: 0 12px;
  }
  .add-comment-popup .comment-photo img {
    max-height: 235px;
  }
  .add-comment-popup .comment-info {
    padding: 0 12px;
  }
  .add-comment-popup .add-place.opened {
    height: 200px;
  }
  .add-comment-popup .comment-buttons {
    padding: 0 12px 12px;
  }
}
.add-photo input {
  width: 40px;
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  opacity: 0;
  cursor: pointer;
}
.user-actions .action {
  display: inline-block;
  position: relative;
}
.user-actions .comment-label {
  color: #bdbdbd;
  margin-right: 20px;
}
.action-button {
  padding: 10px;
  background: #f1f1f1;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 767px) {
  .user-actions .comment-label {
    display: none;
  }
  .user-actions .user-action:first-child {
    margin-right: 5px;
  }
}
.topbar .table-CTR {
  display: table;
  width: 100%;
}
.topbar .table-cell {
  display: table-cell;
}
.topbar .table-cell.homepage {
  width: 212px;
}
.topbar .table-cell.search {
  margin-left: 22px;
}
.topbar .table-cell.user-actions {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .topbar .table-cell {
    padding: 0 5px;
  }
  .topbar .table-cell:first-child {
    padding-left: 0;
  }
  .topbar .table-cell:last-child {
    padding-right: 0;
  }
  .topbar .table-cell.homepage {
    width: 40px;
    display: none;
  }
  .topbar .table-cell.user-actions {
    width: 90px;
  }
}
.popup-CTR {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}
.popup-CTR .fade {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.popup-CTR .popup-container {
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .popup-CTR .popup-container {
    width: 90vw;
    max-height: 90vh;
  }
}
.search-toolbar {
  position: relative;
}
.search-toolbar .search-input {
  padding: 8px;
  width: 400px;
  box-sizing: border-box;
}
.autocomplete-CTR {
  position: absolute;
  top: 34px;
  left: 0;
  border: 1px solid silver;
  min-width: 400px;
  box-sizing: border-box;
}
.autocomplete-CTR .fade-autocomplete {
  display: block;
  width: 100%;
  height: calc(100vh + 51px);
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 51px;
  left: 0;
  z-index: 0;
}
.autocomplete-CTR .autocomplete-results {
  background: white;
  padding: 10px 0;
  position: relative;
  z-index: 0;
}
.autocomplete-CTR .autocomplete-results .label {
  font-size: 12px;
  font-weight: bold;
  padding: 0 14px;
  text-transform: uppercase;
  color: gray;
  margin: 20px 0 0;
}
.autocomplete-CTR .places-results {
  margin: 5px 0px 15px;
}
.autocomplete-CTR .place-results-thumbnail {
  padding: 7px 14px;
  transition: background 0.2s ease-out;
}
.autocomplete-CTR .place-results-thumbnail p {
  transition: color 0.2s ease-out;
}
.autocomplete-CTR .place-results-thumbnail:hover {
  background: silver;
}
.autocomplete-CTR .place-results-thumbnail:hover p {
  color: white;
}
.autocomplete-CTR .separator {
  display: block;
  border-bottom: 1px solid silver;
}
@media screen and (max-width: 767px) {
  .search-toolbar {
    position: static;
  }
  .search-toolbar .search-input {
    width: 100%;
  }
  .search-toolbar .material-icons {
    display: none;
  }
  .autocomplete-CTR {
    top: 51px;
    min-width: 100%;
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    border: none;
  }
}
svg {
  display: none;
}
.section {
  font-size: 0;
  padding-top: 30px;
  border-top: 1px solid #b7b7b7;
  margin-bottom: 30px;
}
.section:first-child {
  padding-top: 0;
  border: none;
}
.section .title {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0;
}
.place-thumbnail .info-CTR .social-info {
  display: none;
}
.place-thumbnail .category-ico {
  display: none;
}
.place-thumbnail .image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #ccc;
}
.place-thumbnail:hover .place-name {
  color: #6e70b8;
}
.place-thumbnail:hover .description {
  color: #000000;
}
.place-thumbnail .name {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.place-thumbnail .description {
  font-size: 14px;
  margin-top: 20px;
  max-height: 7em;
  overflow: hidden;
  line-height: 1.4;
  transition: color 0.2s ease-out;
}
.place-thumbnail .address {
  font-size: 14px;
}
.place-thumbnail .place-name {
  margin-top: 12px;
  color: #7679c6;
  transition: color 0.2s ease-out;
}
.info-CTR .social-info {
  padding-top: 10px;
  border-top: 1px solid #b7b7b7;
  padding-bottom: 10px;
  border-bottom: 1px solid #b7b7b7;
  width: 70%;
}
.info-CTR .social-info .social-item {
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;
  font-size: 13px;
}
.info-CTR .social-info .social-item .count {
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  .info-CTR .social-info {
    width: 100%;
  }
}
.event-thumbnail__image {
  margin-bottom: 20px;
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #ccc;
}
.event-thumbnail__title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.event-thumbnail__place-name {
  font-size: 14px;
  margin: 5px 0;
  color: #7679c6;
}
.event-thumbnail__address {
  font-size: 14px;
}
.event-thumbnail__description {
  font-size: 14px;
  max-height: 7em;
  overflow: hidden;
  line-height: 1.4;
}
.event-thumbnail__event-date {
  font-size: 16px;
  margin-bottom: 5px;
}
.event-thumbnail__event-date p {
  display: inline-block;
  vertical-align: top;
}
.event-thumbnail__event-date p .event-icon {
  font-size: 12px;
}
.event-thumbnail__info-CNT {
  border-top: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
  margin: 20px 0;
  padding: 8px 0;
}
.photo-thumbnail .image img {
  width: 100%;
  min-height: 50px;
}
.photo-thumbnail .description {
  font-size: 14px;
  margin-top: 20px;
  max-height: 7em;
  overflow: hidden;
  line-height: 1.4;
  word-break: break-word;
}
.photo-thumbnail .description strong {
  font-weight: bold;
}
.photo-thumbnail .social-info {
  font-size: 0;
  margin-top: -36px;
  padding: 8px;
  color: white;
  position: relative;
}
.photo-thumbnail .social-info:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 45px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.6) 100%);
  z-index: 0;
}
.photo-thumbnail .social-info ul {
  position: relative;
  z-index: 1;
}
.photo-thumbnail .social-info .social-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.photo-thumbnail .social-info .social-item .social {
  font-size: 14px;
}
.place-details {
  margin-bottom: 80px;
}
.place-details .image {
  width: 100%;
  height: 420px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  background-color: #ccc;
}
.place-details .name {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.place-details .address {
  margin-bottom: 50px;
  word-break: break-word;
}
.place-details .description {
  width: 70%;
  margin-bottom: 70px;
}
.place-details .contacts {
  margin: 15px 0;
}
.place-details .contacts .contact {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.place-details .contacts .contact i.material-icons {
  margin-right: 5px;
}
.place-details .opening_hours {
  margin-top: 40px;
}
.place-details .opening_hours li {
  display: block;
}
.place-details .opening_hours li p {
  display: inline-block;
  line-height: 1.8;
}
.place-details .opening_hours li p:first-child {
  margin-right: 30px;
}
.place-details .map {
  width: 100%;
  height: 250px;
}
.place-details .other-info {
  margin: 35px 0;
  word-break: break-word;
}
.place-details .map-CTR {
  margin: 35px 0;
}
.section .title {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0;
}
.eventi-evidenza-CNT {
  font-size: 0;
}
.place-detail .other-photos {
  column-count: 3;
}
.place-detail .other-photos .other-photo {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .place-details .description {
    width: 100%;
    margin-bottom: 20px;
    word-break: break-word;
  }
  .place-details .contacts .contact {
    display: block;
    line-height: 2.4;
  }
  .place-detail .other-photos {
    column-count: inherit;
  }
}
.movie-thumbnail {
  font-size: 0;
}
.movie-thumbnail .image {
  display: inline-block;
  vertical-align: top;
}
.movie-thumbnail .image img {
  height: 278px;
}
.movie-thumbnail .info-CTR {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  max-width: 440px;
  margin-left: 2.3%;
  height: 278px;
}
.movie-thumbnail .info-CTR .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.movie-thumbnail .info-CTR .title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.movie-thumbnail .info-CTR .original-title {
  margin-bottom: 0;
}
.movie-thumbnail .info-CTR .description {
  margin-top: 10px;
}
.movie-thumbnail .info-CTR .cinemas-CTR .label {
  font-size: 14px;
  font-weight: bold;
}
.movie-thumbnail .info-CTR .cinemas-CTR .cinema {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
.movie-thumbnail .info-CTR .cinemas-CTR .cinema p {
  font-size: 14px;
}
.movie-thumbnail .info-CTR .cinemas-CTR .cinema li {
  font-size: 14px;
  display: inline-block;
}
.movie-thumbnail .info-CTR .cinemas-CTR .cinema li:after {
  content: "|";
  padding: 0 3px;
  display: inline-block;
}
.movie-thumbnail .info-CTR .cinemas-CTR .cinema li:last-child:after {
  display: none;
}
.vertical .movie-thumbnail .image {
  display: block;
  width: 100%;
}
.vertical .movie-thumbnail .image img {
  width: 100%;
  height: auto;
}
.vertical .movie-thumbnail .info-CTR {
  display: block;
  margin: 20px 0;
}
.place-cinema-detail .place-details {
  position: relative;
  margin-bottom: 0;
}
.place-cinema-detail .place-details .image {
  margin: 0;
}
.place-cinema-detail .place-details .name-address {
  position: absolute;
  left: 0;
  color: #fff;
  bottom: 40px;
}
.place-cinema-detail .place-details .name-address .address {
  margin: 0;
}
.place-cinema-detail .menu {
  padding: 0 40px;
  border-bottom: 1px solid #b7b7b7;
}
.place-cinema-detail .menu .menu-item {
  display: inline-block;
  text-transform: uppercase;
}
.place-cinema-detail .menu .menu-item a {
  padding: 10px;
  display: inline-block;
}
.place-cinema-detail .tabs {
  margin-top: 40px;
}
.place-cinema-detail .movies {
  font-size: 0;
}
.place-cinema-detail .fascie .title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
}
.place-cinema-detail .fascie .orari {
  margin: 20px 0;
  border-bottom: 1px solid #b7b7b7;
}
.place-cinema-detail .fascie .orari .orario {
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px 10px 0;
}
.place-cinema-detail .fascie li {
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px 10px 0;
}
.movie-fascie {
  display: table;
  width: 100%;
}
.movie-fascie h1 {
  font-weight: bold;
  text-transform: uppercase;
}
.movie-fascie .cell {
  font-size: 14px;
  display: table-cell;
}
.movie-fascie .cell:first-child {
  width: 30%;
}
