<div class="popup-CTR hidden" data-mediator="popup">
    <div class="fade" data-mediator="popup-close-button"></div>
    <div class="popup-container">
        <div class="popup-CNT">

        </div>
    </div>

</div>