<div class="movie-fascie">
    <h1 class="cell title">
        {{title}}
    </h1>
    <ul class="cell fascie">
        {{#each currentFascie}}
            <li class="fascia-cell">{{.}}</li>
        {{/each}}
    </ul>

</div>