@import "_add-comment";
@import "_add-photo";

.user-actions {
  .action {
    display: inline-block;
  }
  .comment-label{
    color: #bdbdbd;
    margin-right: 20px;
  }
}
.action-button{
  padding: 10px;
  background: lavender;
  border-radius: 50%;
  display: inline-block;
  vertical-align:middle;
  cursor: pointer;
}