<div class="photo-thumbnail">
    <figure class="image">
        <img src="{{image}}">
    </figure>
    <div class="social-info">
        <ul>
            <li class="social-item">
                <div class="social">
                    <i class="material-icons">star</i>
                    <span class="count">{{rating}}</span>
                </div>
            </li>
            <li class="social-item">
                <div class="social">
                    <i class="material-icons">comment</i>
                    <span class="count">{{comments}}</span>
                </div>
            </li>

        </ul>
    </div>
    <div class="description">{{{description}}}</div>
</div>