<div class="user-actions" >
    <label class="comment-label">a cosa stai pensando?</label>
    <div class="action add-comment action-button" data-mediator="add-comment-input">
        <i class="material-icons">comment</i>
    </div>
    <div class="action add-photo action-button" data-mediator="add-photo-input">
       <i class="material-icons">photo_camera</i>
   </div>

</div>