<div class="place-thumbnail" itemscope itemtype="http://schema.org/Place">
    <a href="/places/detail/{{_id}}" itemprop="url">
        <div class="image" data-mediator="lazy-background" data-img="{{image}}">
            <meta itemprop="photo" content="{{image}}"/>
        </div>
        {{> include/places/place-info }}
    </a>
</div>