<aside class="left-sidebar">
    <nav class="common-menu oggi-in-programma">
        <ul class="menu">
            <li class="menu-item">
                <a href="/events">
                    <p><span>Eventi</span></p>
                </a>
            </li>
            <li class="menu-item">
                <a href="/movies">
                    <p><span>Cinema</span></p>
                </a>
            </li>
            <li class="menu-item">
                <a href="/places/movie-theater">
                    <p><span>Teatro</span></p>
                </a>
            </li>
            <li class="menu-item">
                <a href="/places/music">
                    <p><span>Musica</span></p>
                </a>
            </li>
            <li class="menu-item">
                <a href="/places/sports">
                    <p><span>Lifestyle e Sports</span></p>
                </a>
            </li>
        </ul>
    </nav>
    <nav class="common-menu canali-menu">

        <h1 class="title">canali</h1>
        <ul class="menu">
            <li class="menu-item">
                <a href="/places/viaggiare">
                    <p><i class="material-icons">map</i><span>Viaggiare</span></p>
                </a>
            </li>
            <li class="menu-item">
                <a href="/places/food">
                    <p><i class="material-icons">restaurant</i><span>Food</span></p>
                </a>
            </li>
            <li class="menu-item">
                <a href="/places/locali">
                    <p><i class="material-icons">place</i><span>Locali</span></p>
                </a>
            </li>
            <li class="menu-item">
                <a href="/places/health">
                    <p><i class="material-icons">theaters</i><span>Salute</span></p>
                </a>
            </li>
            <li class="menu-item">
                <a href="/places/busisness">
                    <p><i class="material-icons">local_mall</i><span>Negozi</span></p>
                </a>
            </li>
            <li class="menu-item">
                <a href="#">
                    <p><i class="material-icons">school</i><span>Scuole e Università</span></p>
                </a>
            </li>
            <li class="menu-item">
                <a href="/places/tech">
                    <p><i class="material-icons">http</i><span>Tech</span></p>
                </a>
            </li>
        </ul>
    </nav>
    <nav class="common-menu cesena-menu">

        <h1 class="title">cesena</h1>
        <ul class="menu">
            <li class="menu-item">
                <a href="#">
                    <p>Storia</p>
                </a>
            </li>
            <li class="menu-item">
                <a href="#">
                    <p>Luoghi di Interesse</p>
                </a>
            </li>
            <li class="menu-item">
                <a href="#">
                    <p>Cesena di una volta</p>
                </a>
            </li>

        </ul>
    </nav>
</aside>