<aside class="left-sidebar">
    <nav class="common-menu oggi-in-programma">
        <ul class="menu">
            <li class="menu-item homepage">
                <a href="/">
                    <p><span>Home</span></p>
                </a>
            </li>
            <li class="menu-item">
                <a href="/events">
                    <p><span>Eventi</span></p>
                </a>
            </li>
            <li class="menu-item">
                <a href="/places/piadineria">
                    <p><span>Piadinerie</span></p>
                </a>
            </li>
            <li class="menu-item">
                <a href="/places/cinema">
                    <p><span>Cinema & Teatro</span></p>
                </a>
            </li>
            <li class="menu-item">
                <a href="/places/musica">
                    <p><span>Musica</span></p>
                </a>
            </li>
            <li class="menu-item">
                <a href="/places/sports">
                    <p><span>Lifestyle e Sports</span></p>
                </a>
            </li>
        </ul>
    </nav>
    <nav class="common-menu canali-menu">

        <h1 class="title">canali</h1>
        <ul class="menu">
            <!--<li class="menu-item">-->
                <!--<a href="/places/viaggiare">-->
                    <!--<p><i class="material-icons">map</i><span>Viaggiare</span></p>-->
                <!--</a>-->
            <!--</li>-->
            <li class="menu-item">
                <a href="/places/cibo">
                    <p><i class="material-icons">restaurant</i><span>Food</span></p>
                </a>
            </li>
            <li class="menu-item">
                <a href="/places/bar">
                    <p><i class="material-icons">place</i><span>Locali</span></p>
                </a>
            </li>
            <li class="menu-item">
                <a href="/places/medicina">
                    <p><i class="material-icons">healing</i><span>Salute</span></p>
                </a>
            </li>
            <li class="menu-item">
                <a href="/places/benessere">
                    <p><i class="material-icons">spa</i><span>Benessere</span></p>
                </a>
            </li>
            <li class="menu-item">
                <a href="/places/negozio">
                    <p><i class="material-icons">local_mall</i><span>Negozi</span></p>
                </a>
            </li>
            <li class="menu-item">
                <a href="/places/scuola">
                    <p><i class="material-icons">school</i><span>Scuole e Università</span></p>
                </a>
            </li>
            <li class="menu-item">
                <a href="/places/tech">
                    <p><i class="material-icons">devices</i><span>Tech</span></p>
                </a>
            </li>
            <li class="menu-item">
                <a href="/places/architettura">
                    <p><i class="material-icons">location_city</i><span>architettura</span></p>
                </a>
            </li>
            <li class="menu-item">
                <a href="/places/viaggio">
                    <p><i class="material-icons">map</i><span>Viaggiare</span></p>
                </a>
            </li>
            <li class="menu-item">
                <a href="/places/agricultura">
                    <p><i class="material-icons">local_florist</i><span>Natura</span></p>
                </a>
            </li>
        </ul>
    </nav>
    <nav class="common-menu cesena-menu">

        <h1 class="title">cesena</h1>
        <ul class="menu">
            <li class="menu-item">
                <a href="#">
                    <p>Storia</p>
                </a>
            </li>
            <li class="menu-item">
                <a href="/places/luogo_interesse">
                    <p>Luoghi di Interesse</p>
                </a>
            </li>
            <li class="menu-item">
                <a href="#">
                    <p>Cesena di una volta</p>
                </a>
            </li>

        </ul>
    </nav>
</aside>