<aside class="right-sidebar">
    <nav class="common-menu categories">
        <h1 class="title">categories</h1>
        <ul class="menu">
            {{#each categories}}
                <li class="menu-item">
                    <a href="/places/{{query}}">
                        <p><span>{{name}}</span></p>
                    </a>
                </li>
            {{/each}}


    </nav>
</aside>