<header>
    <div class="hamburger-menu"></div>
    <a href="/">
        <i class="material-icons">home</i>
    </a>
    <!--<div class="search-bar">-->
        <!--<input type="text" placeholder="type to search...">-->
    <!--</div>-->
    <div class="filters-button"></div>
    <div class="map-button"></div>
</header>