<header class="topbar">
    <div class="table-CTR">
        <div class="table-cell">
            <div class="hamburger-menu"></div>
        </div>
        <div class="table-cell homepage">
            <a href="/">
                <i class="material-icons">home</i>
            </a>
        </div>
        <div class="table-cell search">
            <div class="search-toolbar-CTR">
                {{> include/search-toolbar/search-toolbar }}
            </div>
        </div>
        <div class="table-cell user-actions">
            <div class="user-actions-CTR">
                {{> include/user/user-actions }}
            </div>
        </div>
    </div>
    <div class="filters-button"></div>
    <div class="map-button"></div>
</header>